
    /* Estilos para o menu de navegação no topo */
    body {
      width: auto;
      margin: 0;
      padding: 0;
      background-image: url("images/fundo_inicio.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    nav {
      display: flex;
      justify-content: flex-end;
      background-color: #333;
      color: #fff;
      padding: 5px;
    }

    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    nav ul li {
      display: inline-block;
      margin-right: 10px;
    }

    nav ul li a {
      color: #fff;
      text-decoration: none;
      padding: 5px 10px;
    }

    nav ul li.sair {
        margin-left: auto;
      }

    /* Estilos para os ícones de menus de PDV */
    .center {
      text-align: center;
      margin-top: 20px;
    }

    /* Estilos para o valor vendido no dia */
    .valor-vendido {
      text-align: center;
      margin-top: 50px;
      font-size: 24px;
      font-weight: bold;
    }
    .image-container {
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: flex;
        align-items: center;
      }
      
      #robot-image {
        width: 100px;
      }
      
      .tooltip-btn::after {
        content: attr(data-tooltip);
        position: absolute;
        bottom: -10px; /* Ajuste a posição vertical da legenda */
        left: 50%; /* Ajuste a posição horizontal da legenda */
        transform: translateX(-50%);
        padding: 4px 8px;
        background-color: #000;
        color: #fff;
        font-size: 12px;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
      }
      
      .tooltip-btn:hover::after {
        opacity: 1;
        visibility: visible;
      }
      .primeira_opt{
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .faixa-preta {
        position: relative;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); /* Define a cor preta com 50% de transparência */
        margin-left: 3%;
      }
      .colunas {
        padding: 100px;
        column-count: 2; /* Define o número de colunas desejado */
        column-gap: 10px; /* Define o espaçamento horizontal entre as colunas */
      }

      @media (max-width: 768px) {
        .colunas {
          column-count: 1; /* Altera para 1 coluna em telas menores */
        }
      }

      button {
        display: block; /* Aplica flexbox para alinhar o ícone e o texto verticalmente */
        align-items: center; /* Alinha o ícone e o texto verticalmente */
        margin-bottom: 60px; /* Define o espaçamento vertical entre os botões */
        position: relative;
        border-radius: none;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 50px;
      }
      button img {
        max-width: 40%; /* Garante que a imagem não exceda a largura do botão */
        height: auto; /* Mantém a proporção original da imagem */
        margin-right: 10px; /* Define o espaçamento entre o ícone e o texto */
      }

      #sair_botao img{
        max-width: 20%;
      }